@model test_app.Models.PatDiagnose

<h1>Edit</h1>

<form asp-action="Edit">
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label asp-for="PatId" class="control-label"></label>
        <input asp-for="PatId" class="form-control" />
        <span asp-validation-for="PatId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="DiagId" class="control-label"></label>
        <input asp-for="DiagId" class="form-control" />
        <span asp-validation-for="DiagId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>
