@model test_app.Models.Doctor

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Doctor</h1>

<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />

    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Specializations" class="control-label">Specializations</label>
        <select asp-for="Specializations" asp-items="Html.GetEnumSelectList<test_app.Models.Specialization>()" multiple class="form-control"></select>
        <span asp-validation-for="Specializations" class="text-danger"></span>
    </div>


    <button type="submit" class="btn btn-primary">Save</button>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>
