@model IEnumerable<Procedure>   

@{
    ViewBag.Title = "Список назначеных процедур";
    Layout = "_Layout";
}

<h2>@ViewBag.Title</h2>

<table>
    <thead>
    <tr>
        <th>Название</th>
        <th>Стоимость</th>
        <th>Дата</th>
        <!-- Добавьте другие заголовки столбцов, если необходимо -->
    </tr>
    </thead>
    <tbody>
    @foreach (var procedure in Model)
            {
                <tr>
                    <td>@procedure.Body</td>
                    <td>@procedure.Cost</td>
                    <td>@procedure.Date</td>
                </tr>
            }
    </tbody>
</table> 